<div class="h-screen" style="background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSrFpoQ9RiAXizRsB6hxYTIRxe8qvGgWp9m6Fn8RCOA8-iGsHeT'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <section class="relative min-h-screen flex items-center justify-center p-4 bg-gray-100 bg-opacity-50 overflow-hidden">
    <div class="relative flex flex-col md:flex-row bg-white rounded-2xl shadow-lg max-w-7xl w-full h-auto md:h-[85vh] overflow-hidden">
      
      <!-- Sidebar for larger screens -->
      <div class="md:block md:w-1/6 bg-[#d3d3d3] h-full p-4">
        <!-- Sidebar header with an icon and title -->
        <div class="flex items-center gap-2 mb-4">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-gray-700">
            <path d="M3 6h18v2H3V6zm0 4h18v2H3v-2zm0 4h18v2H3v-2z"></path>
          </svg>
          <h2 class="text-xl font-bold text-gray-700">Todolist</h2>
        </div>                       
        <!-- Component for adding tasks -->
        <div class="mr-1">
          <button type ="submit"  (click)="openAddTaskModal()" class="float-right px-12 block text-white bg-[#62895B] hover:bg-green-800 focus:ring-4 focus:outline-none rounded-lg text-sm py-2.5 text-center border-0">
          <!-- Icon and text for the button -->
          <i class="fas fa-plus mr-2"></i> Add Task
        </button>
        </div>
        <!-- Priority section -->
        <div class="mt-20 text-xl font-semibold text-gray-700">
          Priority:
        </div>
        <!-- Priority indicators for tasks -->
        <div class="flex items-center mt-2">
          <div class="w-4 h-4 rounded-full bg-green-500 inline-block"></div>
          <span class="ml-2 text-gray-700">Low</span>
        </div>
        <div class="flex items-center mt-2">
          <div class="w-4 h-4 rounded-full bg-yellow-500 inline-block"></div>
          <span class="ml-2 text-gray-700">Medium</span>
        </div>
        <div class="flex items-center mt-2">
          <div class="w-4 h-4 rounded-full bg-red-500 inline-block"></div>
          <span class="ml-2 text-gray-700">High</span>
        </div>
      </div>
      
      <!-- Main content area -->
      <div class="flex flex-col w-full md:w-5/6 px-4 md:px-8 py-8 bg-gray-50 overflow-x-auto">
        <!-- Tasks In Progress section -->
        <div class="mb-8">
          <app-tasks-details [title]="'Tasks In Progress'"></app-tasks-details>
        </div>
        <!-- Completed Tasks section -->
        <app-tasks-details [title]="'Completed Tasks'"></app-tasks-details>
      </div>
    </div>
  </section>
</div>
<app-edit-add-task *ngIf="isModalOpen" (closeModal)="closeModal()" [Task]="selectedTask" [Test]="testedit"></app-edit-add-task>